In [5]:
import sqlite3

In [6]:
conn = sqlite3.connect('db1.sqlite')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

In [13]:
cursor.execute('''CREATE TABLE "PLAYER" (
    "ID" INTEGER NOT NULL,
    "FIRSTNAME" TEXT NOT NULL,
    "LASTNAME" TEXT NOT NULL,
    "POSITION" TEXT NOT NULL,
    "NUMBER" INTEGER NOT NULL,
    "COUNTRYNUMBER" INTEGER NOT NULL,
    PRIMARY KEY("ID"))''')

In [14]:
cursor.execute("""CREATE TABLE "ATTRIBUTES" (
    "HEIGHT" INTEGER NOT NULL,
    "WEIGHT" INTEGER NOT NULL,
    "FOOT" TEXT NOT NULL,
    "ID" INTEGER,
    FOREIGN KEY("ID") REFERENCES "PLAYER"("ID") ON DELETE SET NULL)""")

In [15]:
cursor.execute("""CREATE TABLE "TROPHIES" (
    "INTERNATIONAL" INTEGER,
    "DOMESTIC" INTEGER,
    "ID" INTEGER,
    FOREIGN KEY("ID") REFERENCES "PLAYER"("ID") ON DELETE SET NULL)""")

In [16]:
cursor.execute("""CREATE TABLE "TEAM" (
    "NAME" TEXT NOT NULL,
    "ID" INTEGER,
    FOREIGN KEY("ID") REFERENCES "PLAYER"("ID") ON DELETE SET NULL)""")

In [17]:
cursor.execute("INSERT INTO PLAYER (ID,FIRSTNAME,LASTNAME,POSITION,NUMBER,COUNTRYNUMBER) \
      VALUES (1, 'David', 'De Gea','GK', 1, 1)");
cursor.execute("INSERT INTO PLAYER (ID,FIRSTNAME,LASTNAME,POSITION,NUMBER,COUNTRYNUMBER) \
      VALUES (2, 'Sergio', 'Romero', 'GK', 22, 1)");
cursor.execute("INSERT INTO PLAYER (ID,FIRSTNAME,LASTNAME,POSITION,NUMBER,COUNTRYNUMBER) \
      VALUES (3, 'Victor', 'Lindelof', 'CB', 2, 2)");
cursor.execute("INSERT INTO PLAYER (ID,FIRSTNAME,LASTNAME,POSITION,NUMBER,COUNTRYNUMBER) \
      VALUES (4, 'Harry', 'Maguire', 'CB', 5, 5)");
cursor.execute("INSERT INTO PLAYER (ID,FIRSTNAME,LASTNAME,POSITION,NUMBER,COUNTRYNUMBER) \
      VALUES (5, 'Brandon', 'Williams', 'RB', 53, 53)");
cursor.execute("INSERT INTO PLAYER (ID,FIRSTNAME,LASTNAME,POSITION,NUMBER,COUNTRYNUMBER) \
      VALUES (6, 'Paul', 'Pogba', 'CM', 6, 6)");
cursor.execute("INSERT INTO PLAYER (ID,FIRSTNAME,LASTNAME,POSITION,NUMBER,COUNTRYNUMBER) \
      VALUES (7, 'Scott', 'McTominay', 'CM', 39, 39)");
cursor.execute("INSERT INTO PLAYER (ID,FIRSTNAME,LASTNAME,POSITION,NUMBER,COUNTRYNUMBER) \
      VALUES (8, 'Anthony', 'Martial', 'ST', 9, 9)");
cursor.execute("INSERT INTO PLAYER (ID,FIRSTNAME,LASTNAME,POSITION,NUMBER,COUNTRYNUMBER) \
      VALUES (9, 'Mason', 'Greenwood', 'ST', 26, 26)");
cursor.execute("INSERT INTO PLAYER (ID,FIRSTNAME,LASTNAME,POSITION,NUMBER,COUNTRYNUMBER) \
      VALUES (10, 'Marcus', 'Rashford', 'ST', 10, 20)");
conn.commit()

In [18]:
cursor.execute("INSERT INTO ATTRIBUTES (HEIGHT,WEIGHT,FOOT,ID) \
    VALUES (190.5, 157, 'RIGHT', 1)");
cursor.execute("INSERT INTO ATTRIBUTES (HEIGHT,WEIGHT,FOOT,ID) \
    VALUES (193.04, 192, 'RIGHT', 2)");
cursor.execute("INSERT INTO ATTRIBUTES (HEIGHT,WEIGHT,FOOT,ID) \
    VALUES (197.96, 179, 'RIGHT', 3)");
cursor.execute("INSERT INTO ATTRIBUTES (HEIGHT,WEIGHT,FOOT,ID) \
    VALUES (193.04, 216, 'RIGHT', 4)");
cursor.execute("INSERT INTO ATTRIBUTES (HEIGHT,WEIGHT,FOOT,ID) \
    VALUES (175.26, 159, 'LEFT', 5)");
cursor.execute("INSERT INTO ATTRIBUTES (HEIGHT,WEIGHT,FOOT,ID) \
    VALUES (190.5, 190, 'LEFT', 6)");
cursor.execute("INSERT INTO ATTRIBUTES (HEIGHT,WEIGHT,FOOT,ID) \
    VALUES (177.8, 143, 'RIGHT', 7)");
cursor.execute("INSERT INTO ATTRIBUTES (HEIGHT,WEIGHT,FOOT,ID) \
    VALUES (180.34, 168, 'RIGHT', 8)");
cursor.execute("INSERT INTO ATTRIBUTES (HEIGHT,WEIGHT,FOOT,ID) \
    VALUES (187.96, 143, 'RIGHT', 9)");
cursor.execute("INSERT INTO ATTRIBUTES (HEIGHT,WEIGHT,FOOT,ID) \
    VALUES (180.34, 172, 'RIGHT', 10)");
conn.commit()

In [19]:
cursor.execute("""CREATE TABLE "COUNTRY" (
    "COUNTRYID" INTEGER NOT NULL,
    "NAME" TEXT NOT NULL,
    "ID" INTEGER,
    FOREIGN KEY("ID") REFERENCES "PLAYER"("ID") ON DELETE SET NULL)""")

In [21]:
cursor.execute("INSERT INTO COUNTRY (COUNTRYID,NAME,ID) \
    VALUES (1, 'SPAIN', 1)");
cursor.execute("INSERT INTO COUNTRY (COUNTRYID,NAME,ID) \
    VALUES (2, 'ARGENTINA', 2)");
cursor.execute("INSERT INTO COUNTRY (COUNTRYID,NAME,ID) \
    VALUES (3, 'SWEEDEN', 3)");
cursor.execute("INSERT INTO COUNTRY (COUNTRYID,NAME,ID) \
    VALUES (4, 'ENGLAND', 4)");
cursor.execute("INSERT INTO COUNTRY (COUNTRYID,NAME,ID) \
    VALUES (5, 'FRANCE', 6)");
cursor.execute("INSERT INTO COUNTRY (COUNTRYID,NAME,ID) \
    VALUES (6, 'SCOTLAND', 7)");
cursor.execute("INSERT INTO COUNTRY (COUNTRYID,NAME,ID) \
    VALUES (7, 'ENGLAND', 5)");
cursor.execute("INSERT INTO COUNTRY (COUNTRYID,NAME,ID) \
    VALUES (8, 'ENGLAND', 9)");
cursor.execute("INSERT INTO COUNTRY (COUNTRYID,NAME,ID) \
    VALUES (9, 'ENGLAND', 10)");
cursor.execute("INSERT INTO COUNTRY (COUNTRYID,NAME,ID) \
    VALUES (10, 'FRANCE', 8)");

In [22]:
cursor.execute("INSERT INTO TEAM (NAME,ID) \
    VALUES ('Manchester United', 1)");
cursor.execute("INSERT INTO TEAM (NAME,ID) \
    VALUES ('Manchester United', 2)");
cursor.execute("INSERT INTO TEAM (NAME,ID) \
    VALUES ('Manchester United', 3)");
cursor.execute("INSERT INTO TEAM (NAME,ID) \
    VALUES ('Manchester United', 4)");
cursor.execute("INSERT INTO TEAM (NAME,ID) \
    VALUES ('Manchester United', 5)");
cursor.execute("INSERT INTO TEAM (NAME,ID) \
    VALUES ('Manchester United', 6)");
cursor.execute("INSERT INTO TEAM (NAME,ID) \
    VALUES ('Manchester United', 7)");
cursor.execute("INSERT INTO TEAM (NAME,ID) \
    VALUES ('Manchester United', 8)");
cursor.execute("INSERT INTO TEAM (NAME,ID) \
    VALUES ('Manchester United', 9)");
cursor.execute("INSERT INTO TEAM (NAME,ID) \
    VALUES ('Manchester United', 10)");
conn.commit()

In [23]:
cursor.execute("INSERT INTO TROPHIES (INTERNATIONAL,DOMESTIC,ID) \
    VALUES (1, 2, 1)");
cursor.execute("INSERT INTO TROPHIES (INTERNATIONAL,DOMESTIC,ID) \
    VALUES (1, 0, 2)");
cursor.execute("INSERT INTO TROPHIES (INTERNATIONAL,DOMESTIC,ID) \
    VALUES (0, 0, 3)");
cursor.execute("INSERT INTO TROPHIES (INTERNATIONAL,DOMESTIC,ID) \
    VALUES (0, 0, 4)");
cursor.execute("INSERT INTO TROPHIES (INTERNATIONAL,DOMESTIC,ID) \
    VALUES (0, 0, 5)");
cursor.execute("INSERT INTO TROPHIES (INTERNATIONAL,DOMESTIC,ID) \
    VALUES (1, 0, 6)");
cursor.execute("INSERT INTO TROPHIES (INTERNATIONAL,DOMESTIC,ID) \
    VALUES (0, 0, 7)");
cursor.execute("INSERT INTO TROPHIES (INTERNATIONAL,DOMESTIC,ID) \
    VALUES (1, 0, 8)");
cursor.execute("INSERT INTO TROPHIES (INTERNATIONAL,DOMESTIC,ID) \
    VALUES (0, 0, 9)");
cursor.execute("INSERT INTO TROPHIES (INTERNATIONAL,DOMESTIC,ID) \
    VALUES (0, 0, 10)");
conn.commit()

In [27]:
conn = sqlite3.connect('db1.sqlite')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

In [29]:
import pandas as pd
curr = conn.execute("""
SELECT ID FROM TROPHIES WHERE INTERNATIONAL OR DOMESTIC >= 1
""");
rows = curr.fetchall()
df = pd.DataFrame(rows)
print(df)
conn.commit()
#SHOWS THE PLAYER ID OF THOSE PLAYERS WHO HAVE AT LEAST ONE TROPHY, INTERNATIONAL OR DOMESTIC.

   0
0  1
1  2
2  6
3  8

In [30]:
curr = conn.execute("""
SELECT ID FROM "ATTRIBUTES" WHERE WEIGHT >= 160
""");
rows = curr.fetchall()
df = pd.DataFrame(rows)
print(df)
conn.commit()
#SHOWS THE PLAYER ID OF THOSE PLAYERS WHO HAVE A WEIGHT GREATER THAN OR EQUAL TO 160 LBS

    0
0   2
1   3
2   4
3   6
4   8
5  10

In [31]:
curr = conn.execute("""
SELECT ID FROM "ATTRIBUTES" WHERE WEIGHT >= 160
""");
rows = curr.fetchall()
df = pd.DataFrame(rows)
print(df)
conn.commit()

    0
0   2
1   3
2   4
3   6
4   8
5  10

In [35]:
curr = conn.execute("""
SELECT ID FROM COUNTRY WHERE NAME ='ENGLAND'
""");
rows = curr.fetchall()
df = pd.DataFrame(rows)
print(df)
conn.commit()
#SHOWS THE ID OF THE PLAYERS WHO ARE FROM ENGLAND

    0
0   4
1   4
2   5
3   9
4  10

In [36]:
curr = conn.execute("""
SELECT ID, FIRSTNAME, LASTNAME FROM PLAYER;
""");
rows = curr.fetchall()
df = pd.DataFrame(rows)
print(df)
conn.commit()
#SHOWS THE PLAYER'S FIRST AND LAST NAMES ALONG WITH THEIR CORRESPONDING ID

    0        1          2
0   1    David     De Gea
1   2   Sergio     Romero
2   3   Victor   Lindelof
3   4    Harry    Maguire
4   5  Brandon   Williams
5   6     Paul      Pogba
6   7    Scott  McTominay
7   8  Anthony    Martial
8   9    Mason  Greenwood
9  10   Marcus   Rashford

In [ ]:
curr = conn.execute("""
SELECT * FROM PLAYER, TEAM
""");
rows = curr.fetchall()
df = pd.DataFrame(rows)
print(df)
conn.commit()
#SHOWS THE ALL OF THE PLAYER INFO ALONG WITH THE TEAM INFO